/* Header section start*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Helvetica, Arial;
}
.container{
    max-width: 1120px;
    margin: auto;
}
header{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 70px;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
ul li{
    margin: 0 10px;
}
ul li a{
    color: #000;
    font-size: 18px;
}
ul li a:hover{
    color: rgb(105, 237, 33);
}
.osonCode a, ul li a, .login a{
    text-decoration: none;
    font-size: 20px;
}
.login button{
    background: linear-gradient(135deg, #00ff88 0%, #8000ff 100%);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 15px;
    color: #fff;
    font-weight: 650;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 3s;
}

.fa-user, .fa-right-to-bracket{
    margin-right: 7px;
    cursor: pointer;
}
.osonCode{
   font-size: 20px;
   font-weight: bolder;
}
.fa-code{
    background: linear-gradient(135deg, #00ff88 0%, #8000ff 100%);
    padding: 7px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.login a{
    color: #000;
}

/* Header section end */

/* AI working section start */
.ai-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.ai{
    text-decoration: none;
    background: linear-gradient(135deg, #84dab2 0%, #9d76c4 100%);
    color: rgb(97, 154, 66);
    padding: 5px 25px;
    border-radius: 18px;
    font-size: 20px;
    margin-bottom: 70px;
    font-weight: 650;
}
.ai-text h1{
    margin: 25px 0;
    font-size: 55px;
}
.ai-text h1 span{
    background: linear-gradient(135deg, #84dab2 0%, #9d76c4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.ai-paragraph{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 27px;
    color: rgb(114, 112, 112);
}
.statistic-text{
    display: flex;
}
.numbers span{
    font-size: 30px;
    margin-right: 20px;
    font-weight: bold;
}
.numbers{
    margin-bottom: 7px;
}
.statistic-text p{
    margin: 0 25px 5px 10px;
    color: rgb(114, 112, 112);
    margin-bottom: 20px;
}
.ai-btn{
    padding: 10px 25px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(135deg, #00ff88 0%, #8000ff 100%);
    color: #fff;
}
.fa-arrow-right{
    margin-left: 5px;
}
.demo-btn{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    border: solid 1px rgb(114, 112, 112);
    cursor: pointer;
    font-weight: 650;
}